@import "./reset/_typography.scss";
@import "./reset/_reset.scss";
@import "./utilities/_mixins.scss";
@import "./layouts/_default.scss";
@import "./utilities/_variables.scss";
@import "./components/_sitelogo.scss";
@tailwind components;
@tailwind utilities;

/* global color classes */
.accent-color {
  color: $accent-color;
}

.bg-accent-color {
  background-color: $accent-color;
}

.border-accent-color {
    --tw-border-opacity: 1;
    border-color: var(--accent-color);
}

section > h2:hover::before {
  content: '#'
}

a {
  @apply text-gray-900 dark:text-gray-50 underline;
  text-decoration-line: underline;
}

a:hover {
  @apply no-underline;
  color: $accent-color;
}

/* global browser scrollbar styling */
body {
  @apply bg-gray-100 dark:bg-gray-1000;
  scrollbar-color: $accent-color $scrollbar-bg;
  scrollbar-width: thin;
  margin: 0;
}
.dark body {
  scrollbar-color: $accent-color $scrollbar-dark-bg;
}
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  background: $scrollbar-bg;
}
.dark body::-webkit-scrollbar-track {
  background: $scrollbar-dark-bg;
}
body::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 3px;
  border: 2px solid $scrollbar-border;
}
.dark body::-webkit-scrollbar-thumb {
  border: 2px solid $scrollbar-dark-border;
}
body::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}
