@import "../utilities/_mixins.scss";
@import "../utilities/_variables.scss";

@font-face {
  font-family: "Fira Code iScript Italic";
  src: local("Fira Code iScript Italic"),
    url("/fonts/FiraCodeTwoiScript-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code iScript";
  src: local("Fira Code iScript"),
    url("/fonts/FiraCodeTwoiScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Flottflott";
  src: local("Flottflott"),
    url("/fonts/Flottflott-Regular.ttf") format("truetype");
}

.font-cursive {
  @include cursive-font;
}
.font-monospace {
  @include monospace-font;
}

body {
  @apply leading-6 text-gray-1000 dark:text-gray-50;
  @include default-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include monospace-font;
  color: $accent-color;
}

// h1 {
//   @apply text-6xl;
// }

// h2 {
//   @apply text-5xl;
// }

// h3 {
//   @apply text-3xl;
//   @include cursive-font;
// }

// h4 {
//   @apply text-xl;
// }

// h5 {
//   @apply text-lg;
// }

// h6 {
//   @apply text-base;
// }

a {
  @apply text-gray-900 dark:text-gray-50 underline;
  text-decoration-line: underline;
}

a:hover {
  @apply no-underline;
  color: $accent-color;
}
