@import "../utilities/_mixins.scss";
@import "../utilities/_variables.scss";

@font-face {
  font-family: "Fira Code iScript Italic";
  src: local("Fira Code iScript Italic"),
    url("/fonts/FiraCodeTwoiScript-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code iScript";
  src: local("Fira Code iScript"),
    url("/fonts/FiraCodeTwoiScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code iScript Bold";
  src: local("Fira Code iScript"),
    url("/fonts/FiraCodeTwoiScript-Bold.ttf") format("truetype");
}

.text-shadow-accent-color { 
  text-shadow: $accent-color 0 0 0.5em;
  color: $accent-color;
}

body {
  @apply leading-6 text-gray-1000 dark:text-gray-50;
  @include default-font;
}

h1,
h2,
h3,
h4,
h5,
h6,  {
  @include display-font;
  color: $accent-color;
}

h6 {
  @apply text-gray-600 dark:text-gray-400;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-sm;
}

