@mixin default-font {
  font-family: "Noto Sans";
  font-style: normal;
}

@mixin display-font {
  font-family: "Noto Sans";
  font-style: normal;
}

@mixin monospace-font {
  font-family: "Fira Mono";
  font-style: normal;
}

@mixin cursive-font {
  font-family: "Fira Code iScript Italic";
  font-style: italic;
}

@mixin regular-font {
  font-family: "Fira Code iScript";
  font-style: normal;
}