@mixin default-font {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
}
@mixin display-font {
  font-family: "Outfit";
  font-style: normal;
}
@mixin cursive-font {
  font-family: "Fira Code iScript Italic";
  font-style: normal;
}
.font-default {
  @include default-font;
}
.font-display {
  @include display-font;
}
.font-cursive {
  @include cursive-font;
}
