@mixin default-font {
  font-family: "Outfit";
  font-style: normal;
}

@mixin display-font {
  font-family: "Outfit";
  font-style: normal;
}

@mixin monospace-font {
  font-family: "Fira Mono";
  font-style: normal;
}

@mixin monospace-bold-font {
  font-family: "Fira Code iScript Bold"
}

@mixin cursive-font {
  font-family: "Fira Code iScript Italic";
  font-style: italic;
}

.font-default {
  @include default-font;
}
.font-display {
  @include display-font;
}
.font-cursive {
  @include cursive-font;
}
.font-monospace {
  @include monospace-font;
}
.font-monospace-bold {
  @include monospace-bold-font;
}
