$scrollbar-bg: #fafafa;
$scrollbar-dark-bg: #404040;
$scrollbar-border: #fafafa;
$scrollbar-dark-border: #404040;
$accent-color: var(--accent-color);
$bg-gray-100: rgba(245, 245, 245, 0);
$bg-gray-1000: #0F0F0F;
$bg-gray-1000-trans: rgba(245,245,245,0);
// $tw-gradient-from: $accent-color;
// $tw-gradient-to: $bg-gray-100;
// $tw-gradient-stops: $tw-gradient-from 0.5%, $tw-gradient-to 7%;
